---

---

<div id="contact" class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-12 lg:px-8 lg:py-16">
    <div class="mx-auto max-w-2xl text-center">
      <hgroup>
        <h2 class="text-base/7 font-semibold text-red-600">Hablemos</h2>
        <p
          class="mt-2 text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl"
        >
          Si algo de todo esto te hizo clic, aquí estoy
        </p>
      </hgroup>
      <p class="mx-auto mt-6 max-w-xl text-lg/8 text-pretty text-gray-600">
        No necesitas tener todo claro para empezar. A veces, solo hace falta una
        conversación honesta para avanzar. Escríbeme si quieres compartir tu
        idea, pedir una opinión o simplemente conectar.
      </p>
      <div class="mt-8 flex justify-center">
        <a
          href="mailto:hola@brangarciaramos.com"
          target="_blank"
          class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-red-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
        >
          Enviar mensaje
        </a>
      </div>
    </div>
  </div>
</div>
