---

---

<div id="technology" class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div class="mx-auto w-full max-w-xl lg:mx-0">
        <h2 class="text-base/7 font-semibold text-red-600">Tecnología real</h2>
        <p
          class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
        >
          Trabajo con herramientas modernas, flexibles y potentes
        </p>
        <p class="mt-6 text-lg/8 text-gray-600">
          Uso tecnologías actuales para construir soluciones que no solo se ven
          bien, sino que funcionan, escalan y perduran. De backend sólido a
          frontend ágil, todo pensado para adaptarse a lo que tu proyecto
          realmente necesita.
        </p>
        <div class="mt-8 flex items-center gap-x-6">
          <a
            href="https://www.imsoft.io/"
            target="_blank"
            class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-red-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
          >
            Conocer servicios
          </a>
          <a
            href="mailto:hola@brangarciaramos.com"
            target="_blank"
            class="text-sm font-semibold text-gray-900"
          >
            Escríbeme <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

      <!-- Logos -->
      <div
        class="mx-auto grid w-full max-w-xl grid-cols-3 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8"
      >
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-1.webp"
          alt="TypeScript"
          width="140"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-2.webp"
          alt="React"
          width="105"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-3.webp"
          alt="Node.js"
          width="104"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-4.webp"
          alt="Node.js"
          width="104"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-5.webp"
          alt="Laravel"
          width="136"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-6.webp"
          alt="React"
          width="105"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-7.webp"
          alt="Node.js"
          width="104"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-8.webp"
          alt="TypeScript"
          width="140"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-9.webp"
          alt="Laravel"
          width="136"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-10.webp"
          alt="Node.js"
          width="104"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-11.webp"
          alt="TypeScript"
          width="140"
          height="48"
        />
        <img
          class="max-h-12 w-full object-contain object-center"
          src="/tecnologies/tecnology-12.webp"
          alt="Laravel"
          width="136"
          height="48"
        />
      </div>
    </div>
  </div>
</div>
